<script>{
	"title": "jQuery CDN - Latest Versions"
}</script>

<h2>jQuery Core</h2>
<p>
	Showing the latest release in each major branch.
	<a href="/jquery/">See all versions of jQuery Core</a>.
</p>

{{#with jquery2}}
<h3>jQuery 2.x - Latest Version (IE &lt;9 not supported)</h3>
<ul>
	<li>{{release "jQuery Core" latestStable}}</li>
</ul>
{{/with}}

{{#with jquery1}}
<h3>jQuery 1.x - Latest Version</h3>
<ul>
	<li>{{release "jQuery Core" latestStable}}</li>
</ul>
{{/with}}

{{include "jquery-git"}}

{{#with migrate}}
<h3>jQuery Migrate - Latest Version</h3>
<ul>
	<li>{{release "jQuery Migrate" latestStable}}</li>
</ul>
{{/with}}

<h2>jQuery UI</h2>
<p>
	Showing the latest release for the stable and legacy release families.
	<a href="/ui/">See all versions of jQuery UI</a>.
</p>

{{#with ui.[0]}}
<h3>jQuery UI {{major}} - Latest Version</h3>
<ul>
	<li>{{release "jQuery UI" latestStable}}</li>
	<li>Themes:
		{{#each latestStable.themes}}
			<a href="/ui/{{../latestStable/version}}/themes/{{this}}/jquery-ui.css">{{this}}</a>
		{{/each}}
	</li>
</ul>
{{/with}}

{{#with ui.[1]}}
<h3>jQuery UI {{major}} - Latest Version</h3>
<ul>
	<li>{{release "jQuery UI" latestStable}}</li>
	<li>Themes:
		{{#each latestStable.themes}}
			<a href="/ui/{{../latestStable/version}}/themes/{{this}}/jquery-ui.css">{{this}}</a>
		{{/each}}
	</li>
</ul>
{{/with}}
