<script>{
	"title": "jQuery Core - All Versions"
}</script>

{{include "jquery-git"}}

{{#each jquery}}
{{#if this.1.all}}
<h2 id="jquery-all-[{{this.[0]}}].x">jQuery Core - All {{this.[0]}}.x Versions</h2>
<ul>
{{#each this.1.all}}
	<li>{{release "jQuery Core" this}}</li>
{{/each}}
</ul>
{{/if}}
{{/each}}

{{#with migrate}}
<h2 id="jquery-migrate-all">jQuery Migrate - All Versions</h2>
<ul>
{{#each all}}
	<li>{{release "jQuery Migrate" this}}</li>
{{/each}}
</ul>
{{/with}}
