<li>
	jQuery Mobile {{version}} -
	{{cdnSriLink filename "uncompressed"}},
	{{cdnSriLink minified "minified"}},
	{{cdnLink minifiedCss "theme"}}
	{{#if minifiedStructure}}
		({{cdnLink minifiedStructure "structure only"}})
	{{/if}}
</li>
