<script>{
	"title": "jQuery Mobile - All Versions"
}</script>

{{#each mobile.all}}
<li>
	jQuery Mobile {{version}} -
	<a href="/mobile/{{version}}/{{filename}}">uncompressed</a>,
	<a href="/mobile/{{version}}/{{minified}}">minfied</a>,
	<a href="/mobile/{{version}}/{{minifiedCss}}">theme</a>
	{{#if minifiedStructure}}
		(<a href="/mobile/{{version}}/{{minifiedStructure}}">structure only</a>)
	{{/if}}
</li>
{{/each}}
