<li>
	jQuery Mobile {{version}} -
	<a href="/{{filename}}">uncompressed</a>,
	<a href="/{{minified}}">minfied</a>,
	<a href="/{{minifiedCss}}">theme</a>
	{{#if minifiedStructure}}
		(<a href="/{{minifiedStructure}}">structure only</a>)
	{{/if}}
</li>
