<h3>jQuery UI {{major}}</h3>
{{#with latestStable}}
<ul>
	<li>{{release "jQuery UI" this}}</li>
	<li>Themes:
		{{#each themes}}
			<a href="/ui/{{../version}}/themes/{{this}}/jquery-ui.css">{{this}}</a>
		{{/each}}
	</li>
</ul>
{{/with}}
